body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PRODUCTS */
.Product {
  background-color: lightblue;
  width: 420px;
  height: 315px;
  float: left;
  text-align: center;
}

.ProductText{
  color: white;
  text-decoration: none;
  margin-top: -180px;
  opacity: 0;
}

.Product:hover .ProductText {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

.ProductImg {
  margin: 0 auto;
  z-index: 0;
  max-width: 420px;
  max-height: 315px;
  object-fit: cover;
}


/* FADE IN IMAGES */
.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* ADMIN */
.invalid-field{
  border-color: red;
  color: red;
  background-color: white;
}

table div.card {
  align-items: center;
  border: none;
  transition: transform 0.2s;
}
table div.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  z-index: 10;
}

table div.card:hover button.delete-button {
  visibility: visible;

}

table div.card-body {
  text-align: center;
}

table div.card img {
  width: 175px;
  height: 175px;
  margin: 30px;
}

table div.card .delete-button {
  visibility: hidden;
}

table tr td:not(:nth-child(3)){
  border-right: 1px solid #00000020;
  
}

table tr:not(:last-child) td{
  border-bottom: 1px solid #00000020;
}