.Container {
    
}

/* PRODUCT CARDS */
.Product {
    background-color: blueviolet;
    width: 420px;
    height: 315px;
    float: left;
}

.ProductText{
    text-align: center;
    vertical-align: middle;
    line-height: 290px;
    opacity: 100;
}